.ant-tooltip-inner {
  background-color: #fff !important;
  color: #000 !important;
  font-size: 12px !important;
  padding: 16px !important;
  border-radius: 6px !important;

  .tag-item {
    display: inline-flex;
    padding: 2px 8px;
    background-color: #f5f5f5;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;

    &:hover {
      background-color: #e6f7ff;
      border-color: #91d5ff;
    }
  }
}
.ant-tooltip {
  --antd-arrow-background-color: white !important;
}
.ant-tooltip-arrow-content {
  --antd-arrow-background-color: white;
  box-shadow: 0 0.12px 1px black !important;
}
.ant-float-btn {
  position: fixed;
  bottom: 33px !important;
}
.breadcrumb-custom ol li {
  display: flex !important;
  align-items: center !important;

  span {
    display: flex !important;
    align-items: center !important;

    a {
      display: flex !important;
      align-items: center !important;

      &:hover {
        background-color: white !important;
      }
    }
  }
}
.pagination-custom {
  ul {
    display: flex !important;
    justify-content: center !important;

    .ant-pagination-item {
      border: 1px solid #d9d9d9 !important;
      border-radius: 6px !important;
      padding: 8px !important;
      min-width: 40px !important;
      max-height: 40px !important;
      height: 40px !important;
      margin-top: 2px;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
    .ant-pagination-jump-prev,
    .ant-pagination-jump-next {
      border: 1px solid #d9d9d9 !important;
      border-radius: 6px !important;
      padding: 8px !important;
      min-width: 40px !important;
      max-height: 40px !important;
      height: 40px !important;
      margin-top: 2px;
      display: flex !important;
      align-items: center !important;
    }
  }
}
.skeleton-custom {
  .ant-skeleton-image {
    width: 100% !important;
    height: 351px !important;
  }
  .skeleton-category {
    min-width: none !important;
    width: 100% !important;
  }
}
