.custom-input {
  border: 1px solid #d9d9d9 !important;
  box-shadow: none !important;
}
.custom-input .ant-input::placeholder {
  color: #a2a3b2 !important;
  font-size: 15px !important;
}
.custom-input:hover {
  border: 1px solid #d9d9d9 !important;
  box-shadow: none !important;
}

.custom-input:focus {
  border: 1px solid #d9d9d9 !important;
  box-shadow: none !important;
}

.custom-input:not(:focus) {
  border: 1px solid #d9d9d9 !important;
}
