.slider-banner {
  .custom-prev,
  .custom-next {
    color: #333;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    transition: background-color 0.3s;
  }

  .custom-prev:hover,
  .custom-next:hover {
    background-color: rgba(255, 255, 255, 1);
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }

  .swiper-pagination {
    margin-top: 0px;
    position: static;
  }
  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;

    &-active {
      background-color: gray;
    }
  }
}
.recommend-slide {
  .item-wrapper {
    display: flex !important;
    justify-content: center;
  }
  .slick-prev,
  .slick-next {
    z-index: 1;
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border: 1px solid #e4e7ec80;
    background-color: #ffffffb2;
    border-radius: 50%;
  }

  .slick-prev {
    left: -15px !important;
    &:before {
      display: none;
    }
    &:hover {
      background-color: #ffffffb2;
    }
  }
  .slick-next {
    right: -20px !important;
    &:before {
      display: none;
    }
    &:hover {
      background-color: #ffffffb2;
    }
  }
}
