@use 'mixins';
@use 'normalize';
@use 'variables';
@use 'fonts';

@use 'components/_form-auth';
@use 'components/_input-antd';
@use 'components/_profile';
@use 'components/_slide-swiper';
@use 'components/_product';

@use 'pages/_home';

@use 'components/_ant-custom';
@use 'components/_filter';
@use 'components/_cart';
@use 'components/_modal';
@use 'components/_payment';
@use 'components/_detail';
@use 'components/_my-library';
@use 'components/_modal-download';

body {
  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 4px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #9ca3af;
  }
  &::-webkit-scrollbar-track:hover {
    background-color: #f1f1f1;
  }
  &::-webkit-scrollbar-track:active {
    background-color: #ccc;
  }
}
