$color_gray_8: #6b7280;

$breakpoint_mobile_sm: 280px;
$breakpoint_mobile_md: 375px;
$breakpoint_mobile_max: 575px;
$breakpoint_tablet_sm: 767px;
$breakpoint_tablet_md: 820px;
$breakpoint_tablet_lg: 950px;
$breakpoint_tablet_max: 973px;
$breakpoint_tablet_11_inch: 833px;
$breakpoint_desktop_tablet_max: 991px;
$breakpoint_small_tablet_max: 1024px;
$breakpoint_laptop_min: 1279px;
$breakpoint_laptop_max: 1439px;
$breakpoint_small_desktop: 1399px;
$breakpoint_desktop_min: 1599px;
$breakpoint_desktop_max: 1919px;
